    <!-- About Product Section -->
    <section id="product" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <h2>About the Product</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-7">
                <p>At Ilium VR we are creating a rifle controller for virtual reality shooter games. Our main innovation is the software and hardware technology used to precisely track the motion and 3D position of the controller. We have taken that technology and integrated it into a rifle body. The controller has many immersive features such as reloading, slide action, recoil, and accurate aiming. We are developing a software development kit (SDK) to allow easy integration with a variety of games and game engines. Ts will enable our controller to be used with both existing and future games. The overally experience that our controller provides is incredibly realistic and immersive, taking your gaming experience to the next level.</p>
            
                <h4>Our vision for the future</h4>
                <p>The rifle controller is just our first step. We plan to develop a whole line of controllers products, including pistols, shotguns, snipers, swords, daggers, and more. Any weapon or tool you can imagine being used in a game or simulation could become a part of our controller line. This technology has applications in many different industries beyond consumer gaming. In the future we could develop technology for a wide variety of industry training, such as helping surgeons practice to increase the rate of successful surgeries, creating a safer virtual environment for firefighters to train in, or creating simulations to help police recruits learn how to accurately assess and handle situations in the line of duty. </p>
            </div>
            <!-- VIDEO NOT AVAILABLE YET            
            <div class="col-lg-5">
                <h3>Demonstration</h3>
                <iframe id="demo" src="https://www.youtube.com/embed/nRzsgCp60YU" frameborder="0" allowfullscreen></iframe>
            </div>
            -->
           <!--  <div class="col-lg-5">
                <h3>Prototype</h3>
                <img id="product" src="../img/product.png"/>
            </div>
        </div> 
        WILL COME BACK WHEN THE VIDEO COMES        -->
        <h3>Prototype</h3>
        <img id="product" src="../img/product.png"/>
    </section>