	<!-- About Team Section -->
	<section id="team" class="container content-section text-center">
		<div class="row">
			<div class="col-lg-8 col-lg-offset-2">
				<h2>Meet the Team</h2>
			</div>
		</div>
        <div class="row">
        	<div class="col-xs-12">
        		<p> Our Team consists of three Computer science students from RPI. We have worked together for multiple years on many different successful projects. We have spent the last few years making advanced projects at hackathons and for research. Between us we have backgrounds in Mathematics, Machine vision, computer architecture, game design and development, embedded software and hardware, and robotics. We have each worked for successful startups such as Apprenda, Vital Vio and Nest Labs. Now we are putting our skills together to try to make an impact on virtual reality.</p>
        	</div>
            {% for member in site.people %}
            <div class="col-xs-4">
                <div class="team-member">
                	<img src="img/team/{{ member.pic }}.jpg" class="img-responsive img-circle headshot" alt="">
                	<h4>{{ member.name }}</h4>
                	<p class="text-muted">{{ member.position }}</p>
                	<!-- BLURBS ARE NOT AVAILABLE YET
                    <p>{{ member.blurb }}</p>
                    -->
                </div>
            </div>
            {% endfor %}
        </div>
	</section>