<!-- Timeline section -->
    <section id="timeline" class="container content-section text-center">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>Timeline</h2>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <ul class="timeline">
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/timeline/1.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>January 2014</h4>
                                    <h4 class="subheading">HackTech</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">We initially developed the tracking technology behind the product at HackTech 2014, a 1200 person hackathon in California in which we were selected as one of the top ten projects. The product was unrelated but we kept the tracking technology we developed and applied it to our rifle initially.</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/timeline/2.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>April 2014</h4>
                                    <h4 class="subheading">HackRU</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">At HackRU Spring 2014 we developed the initial prototype of the gun, completing most of the hardware and electrical work and a good portion of our initial software.</p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/timeline/3.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>February 2015</h4>
                                    <h4 class="subheading">RPI Business Model Competition</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">In February we won 3rd place overall in the Rensselaer Business Model Competition and also took home the Intellectual Property Award from Heslin Rothenberg, Farley & Mesiti. This was our first competition as Ilium VR.</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/timeline/4.png" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>July 2015</h4>
                                    <h4 class="subheading">REVEAL Accelerator</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">In July we will be participating in the inaugural class of the REVEAL accelerator, run by Rensselaer's Emerging Venture Ecosystem. During REVEAL we will complete the final stages of our prototyping and prepare for manufacturing.</p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/timeline/5.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>August 2015</h4>
                                    <h4 class="subheading">Kickstarter</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">We will then be launching a Kickstarter campaign in August for fundraising, marketing, and outreach purposes. Kickstarter is responsible for launching many video game and VR products into success, and because of that we are firmly confident that it is the perfect platform for our needs.</p>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
    </section>