    <!-- About Section -->
    <section id="product" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <h2>About the Product</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-7">
                <p>Vivamus luctus massa non molestie feugiat. Ut gravida elit erat, id vehicula ex pulvinar vitae. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean vulputate porttitor faucibus. Morbi mattis enim quis porta sollicitudin. Suspendisse sed magna felis. Suspendisse luctus feugiat ante id pulvinar. Duis tincidunt ante vitae vehicula facilisis. Morbi euismod maximus convallis.</p>
            
                <h4>Our vision for the future</h4>
                <p>Etiam pellentesque ac lorem quis accumsan. Sed ut arcu et lectus ullamcorper dapibus et id urna. Maecenas ut rutrum ligula. Mauris eros risus, fringilla id mi at, cursus accumsan arcu. Praesent ut sagittis tellus. Nullam neque diam, tincidunt quis pulvinar eget, pharetra eu enim. Vestibulum feugiat nec ligula a fringilla. Aliquam commodo ex ut mauris dignissim, a efficitur nulla tincidunt. Etiam efficitur imperdiet purus, a vulputate velit. Donec non dui non enim efficitur tincidunt eget ornare quam. Donec odio tellus, lacinia vitae diam vitae, dapibus ullamcorper ex. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Lorem ipsum dolor sit amet, consectetur adipiscing elit. In hac habitasse platea dictumst.</p>
            </div>            
            <div class="col-lg-5">
                <h3>Demonstration</h3>
                <iframe id="demo" src="https://www.youtube.com/embed/nRzsgCp60YU" frameborder="0" allowfullscreen></iframe>
            </div>
        </div> 
        <img id="product" src="../img/product.jpg"/>
    </section>