    <!-- Intro Header -->
    <header class="intro">
        <div class="intro-body">
            <div class="container">
                <div class="row">
                    <div class="col-md-8 col-md-offset-2" id="banner">
                        <img src="../img/logo.png" id="logo"/>
                        <p class="intro-text">Putting the virtual world in your hands.</p>
                        <a href="#product" class="btn btn-circle page-scroll">
                            <i class="fa fa-angle-double-down animated"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </header>