#logo
{
    height: 300px;
    padding-top: 50px;
    padding-bottom: 70px;
}

#icon {
	display: inline;
	height: 25px;
	padding-bottom: 7px;
}

#product
{
	padding-bottom: 50px;
	width:95%;
}

#demo {
	width:100%;
	height:350px;
	padding-bottom:50px;
}

.headshot {
	margin-bottom: 30px;
}