<!-- Team Section -->
    <section id="team" class="bg-light-gray">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Our Amazing Team</h2>
                    <h3 class="section-subheading text-muted">Lorem ipsum dolor sit amet consectetur.</h3>
                </div>
            </div>
            <div class="row">
                {% for member in site.people %}
                <div class="col-sm-4">
                    <div class="team-member">
                        <img src="img/team/{{ member.pic }}.jpg" class="img-responsive img-circle" alt="">
                        <h4>{{ member.name }}</h4>
                        <p class="text-muted">{{ member.position }}</p>
                        <ul class="list-inline social-buttons">
                            {% for network in member.social %}
                            <li><a href="{{ network.url }}"><i class="fa fa-{{ network.title }}"></i></a>
                            {% endfor %}

                        </ul>
                    </div>
                </div>
                {% endfor %}
            </div>
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <p class="large text-muted">Our Team consists of three Computer science students from RPI. We have worked together for multiple years on many different successful projects. We have spent the last few years making advanced projects at hackathons and for research. Between us we have backgrounds in Mathematics, Machine vision, computer architecture, game design and development, embedded software and hardware, and robotics. We have each worked for successful startups such as Apprenda, Vital Vio and Nest Labs. Now we are putting our skills together to try to make an impact on virtual reality.</p>
                </div>
            </div>
        </div>
    </section>